#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 3.5rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }
    table {
        border-collapse: collapse;
        font-family: Tahoma, Geneva, sans-serif;
    }
    table td {
        padding: 15px;
    }
    table thead td {
        background-color: #54585d;
        color: #ffffff;
        font-weight: bold;
        font-size: 13px;
        border: 1px solid #54585d;
    }
    table tbody td {
        color: #636363;
        border: 1px solid #dddfe1;
    }
    table tbody tr {
        background-color: #f9fafb;
    }
    table tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }

    body {
        background-color: #d1f3e7;
      }
      
      #title-Tag-Line {
        font-size: 20px;
      }
      /* .card-item__bg{
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: block;
        position: relative;
        margin: 30px auto;
        transform: translate(0px, 50px);
        z-index: 5;
      } */
      
      /* form animation starts */
      .form {
        background: #fff;
        box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
        border-radius: 5px;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        left: 0;
        right: 0;
        position: absolute;
        border-top: 5px solid #0e3721;
      /*   z-index: 1; */
        animation: bounce 1.5s infinite;
      }
      ::-webkit-input-placeholder {
        font-size: 1.3em;
      }
      
      .title{
        display: block;
        font-family: sans-serif;
        margin: 10px auto 5px;
        width: 300px;
      }
      .termsConditions{
        margin: 0 auto 5px 80px;
      }
      
      .pageTitle{
        font-size: 2em;
        font-weight: bold;
      }
      .secondaryTitle{
        color: grey;
      }
      
      .name {
        background-color: #ebebeb;
        color: black;
      }
      .name:hover {
        border-bottom: 5px solid #0e3721;
        height: 30px;
        width: 380px;
        transition: ease 0.5s;
      }
      
      .email {
        background-color: #ebebeb;
        height: 2em;
      }
      
      .email:hover {
        border-bottom: 5px solid #0e3721;
        height: 30px;
        width: 380px;
        transition: ease 0.5s;
      }
      
      .message {
        background-color: #ebebeb;
        overflow: hidden;
        height: 10rem;
      }
      
      .message:hover {
        border-bottom: 5px solid #0e3721;
        height: 12em;
        width: 380px;
        transition: ease 0.5s;
      }
      
      .formEntry {
        display: block;
        margin: 30px auto;
        min-width: 300px;
        padding: 10px;
        border-radius: 2px;
        border: none;
        transition: all 0.5s ease 0s;
      }
      
      .submit {
        width: 200px;
        color: white;
        background-color: #0e3721;
        font-size: 20px;
      }
      
      .submit:hover {
        box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
        transform: translateY(-3px);
        width: 300px;
        border-top: 5px solid #0e3750;
        border-radius: 0%;
      }
      
      @keyframes bounce {
        0% {
          tranform: translate(0, 4px);
        }
        50% {
          transform: translate(0, 8px);
        }
      }

      .centerdiv {
        display: flex;
        justify-content: center;
      }

      :root {
        /* 	Set cube size */
        --w: 256px;
        --h: 256px;
      
        /* 	Other variables */
        --start-pos: translateZ(-8rem) rotateX(330deg) rotateY(-45deg);
        --end-pos: translateZ(-8rem) rotateY(180deg);
        --anim-duration: 350ms;
        --half-w: calc(var(--w) / 2);
        --half-h: calc(var(--h) / 2);
      }
      
      /* Base Styles */
      body {
        margin: 0;
        background: #dfdfe6;
        color: #202124;
        font-family: sans-serif;
      }
      
      section {
        position: relative;
        width: 100%;
        padding: 32px 0 64px;
        background-image: linear-gradient(
          110deg,
          hsl(240deg 12% 89%) 0%,
          hsl(240deg 16% 88%) 39%,
          hsl(240deg 19% 86%) 61%,
          hsl(240deg 21% 85%) 100%
        );
      }
      
      .header {
        margin: 16px 0 128px;
      }
      
      h1,
      p,
      a {
        color: #202124;
        margin: 0px 0px 10px;
        text-decoration: none;
      }
      
      h1:hover,
      p:hover {
        color: #14189d;
      }
      
      h1 {
        font-size: 32px;
      }
      
      p {
        font-size: 18px;
        font-weight: bold;
        text-align: right;
      }
      
      .wrapper {
        max-width: 1920px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .cubes-grid {
        width: 100%;
        max-width: calc(var(--w) * 5);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: calc(var(--h) * 0.5) 1.5em;
        justify-items: center;
        align-items: center;
        margin-bottom: 64px;
      }
      
      /* 3D Cube Styles */
      
      .item {
        width: var(--w);
        height: var(--h);
      }
      
      .cube {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transform: scale(0.9) var(--start-pos);
        transition: transform var(--anim-duration);
        /* 	background-color: rgba(40, 40, 40, 0.1); */
      }
      
      .item:hover .cube {
        transform: var(--end-pos) scale(1);
      }
      
      .cube-face {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      
      .cube-face div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      
      .front img {
        opacity: 0.8;
      }
      
      .front {
        transform: rotateY(0deg) translateZ(var(--half-w));
        background: linear-gradient(
          122deg,
          rgba(232, 232, 237, 0.9) 0%,
          rgba(218, 218, 226, 0.9) 100%
        );
      }
      .right {
        transform: rotateY(90deg) translateZ(var(--half-w));
        background: linear-gradient(
          122deg,
          rgba(202, 204, 212, 0.9) 0%,
          rgba(199, 202, 213, 0.9) 100%
        );
      }
      .back {
        transform: rotateY(180deg) translateZ(var(--half-w));
        background: linear-gradient(
          122deg,
          rgba(199, 202, 213, 0.9) 0%,
          rgba(202, 204, 212, 0.9) 100%
        );
      }
      .left {
        transform: rotateY(-90deg) translateZ(var(--half-w));
        background: linear-gradient(
          122deg,
          rgba(218, 218, 226, 0.9) 0%,
          rgba(232, 232, 237, 0.9) 100%
        );
      }
      .top {
        widht: var(--w);
        height: var(--w);
        transform: rotateX(90deg) translateZ(var(--half-w));
        background: linear-gradient(
          122deg,
          rgba(238, 239, 242, 0.9) 0%,
          rgba(231, 232, 236, 0.9) 100%
        );
      }
      
      .top-content {
        transform: rotateZ(-45deg);
      }
      
      @media screen and (max-width: 1150px) {
        .cubes-grid {
          grid-template-columns: 1fr 1fr;
        }
      }
      
      @media screen and (max-width: 700px) {
        .cubes-grid {
          grid-template-columns: 1fr;
        }
      }

      .hyperspan {
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
    }

    .makespace {
      margin-top: 5%;
    }

    .placeTopLeft {
      display: flex;
      justify-content: left;
    }
    
    /* CSS */
    .returnRoot {
      align-items: center;
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: Phantomsans, sans-serif;
      font-size: 20px;
      justify-content: center;
      line-height: 1em;
      max-width: 100%;
      min-width: 140px;
      padding: 3px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
    }
    
    .returnRoot:active,
    .returnRoot:hover {
      outline: 0;
    }
    
    .returnRoot span {
      background-color: rgb(5, 6, 45);
      padding: 16px 24px;
      border-radius: 6px;
      width: 100%;
      height: 100%;
      transition: 300ms;
    }
    
    .returnRoot:hover span {
      background: none;
    }
    
    @media (min-width: 768px) {
      .returnRoot {
        font-size: 24px;
        min-width: 196px;
      }
    }