@page "/"
<div class="makespace">
    <section>
        <div class="wrapper">
            <div class="cubes-grid">
                <div class="item">
                    <div class="cube">
                        <div class="cube-face front">
                            <div>
                                <i class="fa-solid fa-plus fa-6x"></i>
                            </div>
                        </div>
                        <div class="cube-face back">
                            <div>GoTo CreateInventory
                                <a href="/CreateInventory"><span class="hyperspan"></span></a>
                            </div>
                        </div>
                        <div class="cube-face right">
                            <div></div>
                        </div>
                        <div class="cube-face left">
                            <div></div>
                        </div>
                        <div class="cube-face top">
                            <div class="top-content"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cube">
                        <div class="cube-face front">
                            <div>
                                <i class="fa-brands fa-readme fa-6x" width="70%"></i>
                            </div>
                        </div>
                        <div class="cube-face back">
                            <div>GoTo MyInventory
                                <a href="/MyInventory"><span class="hyperspan"></span></a>
                            </div>
                            
                        </div>
                        <div class="cube-face right">
                            <div></div>
                        </div>
                        <div class="cube-face left">
                            <div></div>
                        </div>
                        <div class="cube-face top">
                            <div class="top-content"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cube">
                        <div class="cube-face front">
                            <div>
                                <i class="fa-solid fa-repeat fa-6x"></i>
                            </div>
                        </div>
                        <div class="cube-face back">
                            <div>GoTo UpdateInventory
                                <a href="/UpdateInventory"><span class="hyperspan"></span></a>
                            </div>
                        </div>
                        <div class="cube-face right">
                            <div></div>
                        </div>
                        <div class="cube-face left">
                            <div></div>
                        </div>
                        <div class="cube-face top">
                            <div class="top-content"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cube">
                        <div class="cube-face front">
                            <div>
                                <i class="fa-sharp fa-solid fa-trash fa-6x"></i>
                            </div>
                        </div>
                        <div class="cube-face back">
                            <div>GoTo DeleteInventory
                                <a href="/DeleteInventory"><span class="hyperspan"></span></a>
                            </div>
                        </div>
                        <div class="cube-face right">
                            <div></div>
                        </div>
                        <div class="cube-face left">
                            <div></div>
                        </div>
                        <div class="cube-face top">
                            <div class="top-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>